<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../statics/css/estilos.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../statics/css/buscaM.css">
  <link rel="stylesheet" href="../statics/css/j2048.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> TronLegacy </title>
</head>
<body>
  <header class="navbar navbar-nav" style="background-color:red">
    <section id="cw"> Curso Web 2020 </section>
    <section id="b1"> Inicio </section>
    <section id="b2"> TEAM </section>
  </header>
  <script type="text/javaScript" src="../dynamics/Arcade.js"></script>
</body>
</html>
