<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../Statics/img/Logo.png">
  <link rel="stylesheet" href="../Statics/css/estilos.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../statics/css/buscaM.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> TronLegacy </title>
</head>
<body>
  <header>
    <section id="cw"> Curso Web 2020 </section>
    <nav>
      <section id="b1"><a href="Arcade.html">Inicio</a></section>
      <section id="b2"><a href="#">Más Info</a></section>
      <section id="b3"><a href="#">TEAM</a></section>
    </nav>
  </header>
  <div id="infoArc">TronLegacy es una plataforma online y gratis de minijuegos que ofrece la posibilidad de poder jugar en tu ordenador. Estos
  juegos del genero "Retro", ofrecen una gran variedad de temáticas como acción, aventuras, estrategia, etc.</div>
  <section id="leftDisplay">
    <section  id="cTr">
      <section id="nTr">Tetris</section>
      <section id="botTr">
        <section id="jTr">Jugar</section>
        <section id="pTr">Puntajes</section>
        <section id="adTr">Info...</section>
      </section>
      <section id="infTr">
        Instrucciones:
      </section>
    </section>
  </section>
  <!-- <div id="rightDisplay">Busca Minas</div>
  <div id="bottomDisplay">Caza Patos</div> -->
  <footer>
    <section id="copy"> © 2020 TronLegacy Company. Todos los derechos reservados. </section>
    <section><a href="Arcade.html"><img src="../Statics/img/Logo2.png" alt="Logo2" id="l2"></a></section>
  </footer>
  <!-- <script type="text/javaScript" src="../dynamics/Arcade.js"></script> -->
</body>
</html>
