/*------------------------------------Fuente/s------------------------------------*/
@font-face {
  font-family: PressStart2P-Regular;
  src: url("../../lib/Fonts/PressStart2P-Regular.ttf");
}

body {
  -webkit-text-stroke: 2px #353535;
  background-attachment: fixed;
  color: #F8F9F9;
  font-family: PressStart2P-Regular;
  margin: 0;
  padding: 0;
}

/*Grid*/
div#grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 150px auto 150px auto;
  grid-gap: 10px;
}
/*Animación*/
@keyframes logo {
  0%{
    left: -500px;
    top: -400px;
  }
  50%{
    left: -300px;
    top: -100px;
  }
  100%{
    left: 0px;
    top: 0px;
    transform: rotate(360deg);
  }
}
#logo{
  width: 60%;
  position: relative;
  animation-name: logo;
  animation-duration: 5s;
}
#f1{
  background-color: #333333;
}
#f2{
  background-color: #292733;
}
#f3{
  background-color: #FFFFFF;
}
#f4 {
  background-color: #808080;
}
