.reja{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: #383838;
}
.reja div{
  width: 100px;
  height: 100px;
  background-color: #191919;
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  border-radius: 40%

}
#cero{
  opacity: 0;
}
